common --enable_platform_specific_config

# The usual flags.
build:macos --copt=-Werror
build:macos --copt=-Wall

build:linux --copt=-Werror
build:linux --copt=-Wall

build:windows --copt=/WX

# The FFI requires C++20.
build --cxxopt=-std=c++20
build --host_cxxopt=-std=c++20
build --per_file_copt=.*\.mm\$@-std=c++20
