common --enable_platform_specific_config

# The usual flags.
build:macos --copt=-Werror
build:macos --copt=-Wall
build:macos --cxxopt=-std=c++20
build:macos --host_cxxopt=-std=c++20
build:macos --per_file_copt=.*\.mm\$@-std=c++20

build:linux --copt=-Werror
build:linux --copt=-Wall
build:linux --cxxopt=-std=c++20
build:linux --host_cxxopt=-std=c++20
build:linux --per_file_copt=.*\.mm\$@-std=c++20
